@model Assignment_2.Models.Trainer

@using Assignment_2.Models

@{
    ViewBag.Title = "Details";
}


<br />
<strong>First Name:</strong>
<span>@Model.FirstName</span>
<br />
<strong>Last Name:</strong>
<span>@Model.LastName</span>
<br />
<strong>Subject:</strong>
<span>@Model.Subject</span>
<br />
<a href="/Trainer/Index">Go Back</a>
